<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="AWSProfileName" value="netweb_dev" />
    <add key="AWSAccessKey" value="AKIAI372GL4A7HVDKXHQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="BucketName" value="bcmstrategystorage/local"></add>
    <add key="StoringAWSURL" value="https://s3.amazonaws.com/bcmstrategystorage/local/"></add>

    
    <add key="solrUrl" value="http://192.168.0.98:9990/solr/PageDetail"></add>
    <add key="solrUrlLexicon" value="http://192.168.0.118:8983/solr/LexiconDetails" />
    <add key="StorageDocumentPath" value="https://s3.console.aws.amazon.com/s3/buckets/bcmstrategystorage/local/" />
  </appSettings>
  <connectionStrings>
    <add name="BCMStrategyEntities" connectionString="metadata=res://*/Context.BCMStrategy.csdl|res://*/Context.BCMStrategy.ssdl|res://*/Context.BCMStrategy.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.118;user id=root;password=netweb12;persistsecurityinfo=True;database=bcmstrategystaging_14122018;SslMode=none&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Debug Logs\EventLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
