<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BCMStrategyEntities" connectionString="metadata=res://*/Context.BCMStrategy.csdl|res://*/Context.BCMStrategy.ssdl|res://*/Context.BCMStrategy.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.98;uid=root;password=netweb12;persistsecurityinfo=True;database=bcmstrategystaging;SslMode=none&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="solrUrl" value="http://192.168.0.77:8983/solr/PageDetail" />
    <add key="solrPageDetailUrl" value="http://192.168.0.77:8983/solr/PageDetailHistory" />
    <add key="solrUrlLexicon" value="http://192.168.0.77:8983/solr/LexiconDetails" />
    <add key="ignoreextnurl" value=".pdf,pdf,.ics,.ICS,.doc,.docx,.xls,.xlsx,.mp3,.csv,.mp4,.ashx,.wmv,.txt,.css,.js,.mov,.flv,.wmv,.avi,.qt,.zip,.ZIP,.rar,.RAR,.png,.jpg,.jpeg,.gif,.svg,.exe,.rss,.atom,.xml" />
    <add key="ignoreexternalLinks" value="#,@,www.facebook.com,www.youtube.com,www.twitter.com,www.linkedin.com,instagram.com,rss.html,www.flickr.com,page=2,sc_p=2,page=1,PageNum_rs=2,num=2,about.htm,sitemap.htm,contact.htm,help.htm,privacy-policy.htm,socialmedia.shtml,sitemap.shtml,tel:,fax:,mob:,mobile:Tel:,Fax:,Mob:,Fax:,javascript:" />
    <add key="WebDriverTimeOut" value="4000" />
    <add key="ThreadSleepInterval" value="5" />
    <add key="MaxLinkLevel" value="3" />
  </appSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Debug Logs\EventLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider></providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>