<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<container>
		<register type="BCMStrategy.Data.Abstract.Abstract.IWebLink, BCMStrategy.Data.Abstract"
				   mapTo="BCMStrategy.Data.Repository.Concrete.WebLinkRepository, BCMStrategy.Data.Repository"></register>
    
    <register type="BCMStrategy.Data.Abstract.Abstract.ILegislator, BCMStrategy.Data.Abstract"
				   mapTo="BCMStrategy.Data.Repository.Concrete.LegislatorRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IPrivilege, BCMStrategy.Data.Abstract"
				   mapTo="BCMStrategy.Data.Repository.Concrete.PrivilegeRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Abstract.IMessageQueue, BCMStrategy.Data.Abstract"
				   mapTo="BCMStrategy.Data.Repository.Concrete.MessageQueueRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Abstract.IUserMaster, BCMStrategy.Data.Abstract"
					 mapTo="BCMStrategy.Data.Repository.Concrete.UserMasterRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Abstract.ICountryMaster, BCMStrategy.Data.Abstract"
					 mapTo="BCMStrategy.Data.Repository.Concrete.CountryMasterRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Provider.IAuth, BCMStrategy.Data.Abstract"
				 mapTo="BCMStrategy.Data.Repository.Provider.AuthRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Abstract.IProcessEvents, BCMStrategy.Data.Abstract"
					 mapTo="BCMStrategy.Data.Repository.Concrete.ProcessEventsRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Abstract.IGlobalConfiguration, BCMStrategy.Data.Abstract"
					 mapTo="BCMStrategy.Data.Repository.Concrete.GlobalConfigurationRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Abstract.IHeadStateRepository, BCMStrategy.Data.Abstract"
				 mapTo="BCMStrategy.Data.Repository.Concrete.HeadStateRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Abstract.IWebDocument, BCMStrategy.Data.Abstract"
					 mapTo="BCMStrategy.Data.Repository.Concrete.WebDocumentRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Abstract.IInstitutionTypes, BCMStrategy.Data.Abstract"
				 mapTo="BCMStrategy.Data.Repository.Concrete.InstitutionTypesRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Abstract.IInstitutions, BCMStrategy.Data.Abstract"
				 mapTo="BCMStrategy.Data.Repository.Concrete.InstitutionsRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IPolicyMaker, BCMStrategy.Data.Abstract"
				 mapTo="BCMStrategy.Data.Repository.Concrete.PolicyMakerRepository, BCMStrategy.Data.Repository"></register>

	  <register type="BCMStrategy.Data.Abstract.Abstract.IScrappingProcess, BCMStrategy.Data.Abstract"
				   mapTo="BCMStrategy.Data.Repository.Concrete.ScrappingProcessRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.ILexiconType, BCMStrategy.Data.Abstract"
				   mapTo="BCMStrategy.Data.Repository.Concrete.LexiconTypeRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.ILexicon, BCMStrategy.Data.Abstract"
				   mapTo="BCMStrategy.Data.Repository.Concrete.LexiconRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IWebsiteTypes, BCMStrategy.Data.Abstract"
          mapTo="BCMStrategy.Data.Repository.Concrete.WebsiteTypesRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IMetadataTypes, BCMStrategy.Data.Abstract"
          mapTo="BCMStrategy.Data.Repository.Concrete.MetadataTypesRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IActivityType, BCMStrategy.Data.Abstract"
          mapTo="BCMStrategy.Data.Repository.Concrete.ActivityTypeRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IMetadataPhrases, BCMStrategy.Data.Abstract"
         mapTo="BCMStrategy.Data.Repository.Concrete.MetadataPhrasesRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IMetadataNounplusVerb, BCMStrategy.Data.Abstract"
         mapTo="BCMStrategy.Data.Repository.Concrete.MetadataNounplusVerbRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IAuditLog, BCMStrategy.Data.Abstract"
      mapTo="BCMStrategy.Data.Repository.Concrete.AuditLogRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IUserAccessRights, BCMStrategy.Data.Abstract"
        mapTo="BCMStrategy.Data.Repository.Concrete.UserAccessRightsRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IScheduler, BCMStrategy.Data.Abstract"
        mapTo="BCMStrategy.Data.Repository.Concrete.SchedulerRepository, BCMStrategy.Data.Repository"></register>

    <register type="BCMStrategy.Data.Abstract.Abstract.IAuditLog, BCMStrategy.Data.Abstract"
       mapTo="BCMStrategy.Data.Repository.Concrete.AuditLogRepository, BCMStrategy.Data.Repository"></register>

		<register type="BCMStrategy.Data.Abstract.Abstract.IGlobalSetting, BCMStrategy.Data.Abstract"
			mapTo="BCMStrategy.Data.Repository.Concrete.GlobalSettingRepository, BCMStrategy.Data.Repository"></register>
    
  </container>
</unity>