<footer class="page-footer font-small green darken-2 mt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © @DateTime.Now.Year
        <a tabindex="999" href="@Url.Action("Index","Login",new { Area = "Account"})"> @BCMStrategy.Resources.Resource.LblFooter</a>
    </div>
    <!-- Copyright -->
</footer>