<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="BCMStrategyEntities" connectionString="metadata=res://*/Context.BCMStrategy.csdl|res://*/Context.BCMStrategy.ssdl|res://*/Context.BCMStrategy.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.98;uid=root;password=netweb12;persistsecurityinfo=True;database=bcmstrategystaging;SslMode=none&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ContentLoaderPath" value="D:\\Previous Data\\Project\\BCM Strategy\\BCMStrategy_4_0_0\\BCMStrategy.ContentLoader\\bin\\Debug\\BCMStrategy.ContentLoader.exe" />
    
    <add key="AWSProfileName" value="netweb_dev" />
    <add key="AWSRegion" value="us-east-1" />
    <add key="AWSAccessKeyId" value="AKIAI372GL4A7HVDKXHQ" />
    <add key="AWSSecretAccessKey" value="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" />
    <add key="ContentLoader" value="https://sqs.us-east-1.amazonaws.com/548081479476/ContentLoader" />
    <add key="Scraper" value="https://sqs.us-east-1.amazonaws.com/548081479476/Scraper" />
    <add key="MediaOfficialSectorPath" value="E:\\BCMProject\\BCMStrategy_4_0_0\\BCMStrategy.ScrapperProcess\\bin\\Debug\\BCMStrategy.ScrapperProcess.exe" />
    <add key="EmailGenerationPath" value="E:\\BCMProject\\BCMStrategy_4_0_0\\BCMStrategy.EmailGeneration\\bin\\Debug\\BCMStrategy.EmailGeneration.exe" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Debug Logs\EventLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
</configuration>